
<div class="container px-5 px-sm-0">
<div class="row">
<div class="col-md-3">
<h2>User info</h2>
<table class="table" style="white-space: nowrap">
<tr>
<td>
<%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", :size=>'60x60' %>
</td><td></td>
</tr>

<tr><td><h6>name</h6></td><td><h6><%= @user.name %></h6></td></tr>
<tr><td><h6>introduction</h6></td><td><h6><%= @user.introduction %></h6></td></tr>

</table>

<p><%= link_to edit_user_path(@user),class: "btn btn-outline-secondary btn-block" do %>
<i class="fas fa-user-cog"></i><%end%></p>




<%= render 'books/new.html',book:@book %>

</div>

<div class="col-md-8 offset-md-1">
<h1>Books</h1>

<table class="table table-hover table-inverse small">

<thead>
<tr>
<th></th><th>Title</th><th>Opinion</th>
</tr>
</thead>
<% @books.each do |book| %>


<tbody>
<tr>
<td>
<%= link_to user_path(book.user.id) do %>
<%= attachment_image_tag book.user, :profile_image, fallback: "no_image.jpg", :size =>'30x30' %>
<%end%>
</td>

<td><span><%= link_to book.title, book_path(book.id) %></span></td>

<td><span><%= book.body %></span></td>

</tr>
</tbody>
<% end %>
</table>







</div>
</div>
</div>

<!--１分タイマー-->
<div class='container '>
  <div class='row-12 '>
　　<h1 id="timer" class='col-3 mx-auto display-1'></h1>
　</div>
　<div class='row-12 d-flex justify-content-around'>
    <button id="startbutton" class='col-2'>start</button>
    <button id="stopbutton" class='col-2'>stop</button>
    <button id="resetbutton" class='col-2'>reset</button>
  </div>

        <script>
            $(document).on('turbolinks:load', function() {
            var to_timeup = 60;
            var max = 60;
            var intervalid;
            var start_flag = false;

            function count_start(){
                console.log("count_start");
               if(start_flag===false){
                intervalid = setInterval(count_down,1000);
                start_flag = true;
               }
            }

            function count_down(){
                console.log("count_down");
                   var timer = document.getElementById("timer");
                if(to_timeup===0){
                    timer.innerHTML = 'Time up!'
                    timer.style.color="red";
                    count_stop();
                }   else {
                    to_timeup--;
                    padding();
                }
            }

            function padding(){
                var timer=document.getElementById("timer");
                var min = 0;
                var sec = 0;
                min = Math.floor(to_timeup/60);
                sec = (to_timeup%60);
                min = ("0"+min).slice(-2);
                sec = ("0"+sec).slice(-2);
                timer.innerHTML = min +":"+ sec;
            }

            function count_stop(){
                console.log(count_stop);
                clearInterval(intervalid);
                start_flag = false;
            }

            function count_reset(){
                console.log(count_reset);
                var timer = document.getElementById("timer");
                clearInterval(intervalid);
                start_flag = false;
                to_timeup = max;
                padding();
                timer.style.color = "black";
            }

            window.onload = function(){
                //console.log("mumei");
                padding();
                var startbutton=document.getElementById("startbutton");
                startbutton.addEventListener("click",count_start,false);
                var stopbutton=document.getElementById("stopbutton");
                stopbutton.addEventListener("click",count_stop,false);
                var resetbutton=document.getElementById("resetbutton");
                resetbutton.addEventListener("click",count_reset,false);
            }
            })
        </script>
  </div>
</div>