<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
  </head>

  <body>

     <% if user_signed_in? %>
<header>
  <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom shadow-sm">
  <ul class="navbar-nav mr-auto">
    <div class="container">
  <p class="h5 my-0 me-md-auto fw-normal"><a href = "https://24d12a1d0c7b48e3814477a24286a1ef.vfs.cloud9.us-east-1.amazonaws.com/">Bookers</a></p>

  </ul>
  <nav class="my-2 my-md-0 me-md-3 ">
   <%= link_to user_path(current_user.id), class: "text-light" do %>
    <i class="fas fa-home"></i>Home<% end %>
    <%= link_to users_path, class: "text-light" do %>
    <i class="fas fa-users"></i>Users<% end %>
    <%= link_to books_path, class: "text-light" do %>
    <i class="fas fa-book-open"></i>Books<% end %>
    <%= link_to destroy_user_session_path, method: :delete, class: "text-light" do %>
    <i class="fas fa-sign-out-alt"></i>logout<%end%>
  </nav>
</div>
</header>

    <% else %>

    <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom shadow-sm">
  <ul class="navbar-nav mr-auto">
     <div class="container">
  <p class="h5 my-0 me-md-auto fw-normal">
    <a href = "https://24d12a1d0c7b48e3814477a24286a1ef.vfs.cloud9.us-east-1.amazonaws.com/">Bookers</a></p>
  </ul>
  <nav class="my-2 my-md-0 me-md-3 ">
    <%= link_to  root_path,class: "text-light" do %>
    <i class="fas fa-home"></i>Home<%end%>
    <%= link_to home_about_path,class: "text-light" do %>
    <i class="fas fa-link"></i>About<%end%>
    <%= link_to new_user_registration_path,class: "text-light" do %>
    <i class="fas fa-user-plus"></i>sign up<%end%>
    <%= link_to new_user_session_path,class: "text-light" do %>
    <i class="fas fa-sign-in-alt"></i> login<%end%>
  </nav>
</div>
</header>

    <% end %>
</header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
<main>
  <%= yield %>
</main>
<footer>
  <div class="container mt-5">
    <div class="low">
    <div class="mx-auto text-center">CopyRight Infratop.inc</div>
  </div>
  </div>
</footer>

  </body>
</html>
